@{
    ViewBag.Title = "About";
}

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <img src="~/Images/about.jpeg" class="card-img-top" height="350" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header bg-light">Founded in 2016</div>
            <div class="card-body">
                Most trusted online community for developers to learn, share their knowledge, and build their careers. More professional and aspiring programmers visit us each month to help solve coding problems, develop new skills
            </div>
        </div>
    </div>
</div>
<script>
    $("a[href='/home/about']").attr("Id", "active")
</script>
