@{
    ViewBag.Title = "Contact";
}

<div class="row mt-2">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header bg-info text-light">Teams</div>
            <div class="card-body">
                <p>A private, secure home for your team’s questions and answers. Perfect for teams of 10-500 members. No more digging through stale wikis and lost emails—give your team back the time it needs to build better products.</p>
            </div>
        </div>
    </div>
</div>
<div class="row mt-2">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header bg-info text-light">Enterprise</div>
            <div class="card-body">
                <p>Tech Forum for Enterprise is a private, secure home for your organization’s questions and answers. Empower your teams to find and share information without disrupting their workflows.</p>
                <p class="lead">Contact us: <strong>Tech_community@tforum.com</strong></p>
            </div>
        </div>
    </div>
</div>

<script>
    $("a[href='/home/contact']").attr("Id","active")
</script>