@model TechnicalQandAForum.ViewModels.EditUserPasswordViewModel
@{
    ViewBag.Title = "ChangePassword";
}


<div class="row justify-content-center">
    <div class="col-sm-6">
        <h3 class="card-header bg-info text-light text-center mt-4">Change Password</h3>
        <form novalidate="novalidate" class="pass-validate box" id="pass-form" method="post" action="/account/changepassword">
            @Html.AntiForgeryToken()
            <div class="form-row">
                <div class="col-sm-12 form-group">
                    <label for="txtPassword">Password</label>
                    <input type="password" class="form-control" name="Password" id="txtPassword" placeholder="Password"
                           minlength="6" required="required" oninput=validateConfirmPassword() />
                    <div class="valid-feedback">Looks Good</div>
                    <div class="invalid-feedback">Password must contain atleast 6 characters</div>
                </div>
                <div class="col-sm-12 form-group">
                    <label for="txtConfirmPassword">Confirm Password</label>
                    <input type="password" class="form-control" name="ConfirmPassword" required="required"
                           id="txtConfirmPassword" placeholder="Confirm Password" oninput=validateConfirmPassword() />
                    <div class="valid-feedback" id="cnfPassValid">Looks Good</div>
                    <div class="invalid-feedback" id="cnfPassInValid">Password and Confirm password do not match</div>
                </div>
                @Html.HiddenFor(p => p.Email)
            </div>
            <div class="text-center"><button id="btnSubmit" class="btn btn-success">Update Password</button></div>
            <div class="text-danger">
                @Html.ValidationSummary()
            </div>
        </form>
    </div>
</div>

<script>

    $("a[href='/account/changepassword']").attr("Id", "active");

    $(document).on("submit", ".pass-validate", validate);
    $(".pass-validate input").blur(validate);

    function validate(event) {
        if ($(".pass-validate")[0].checkValidity() == false) {
            event.preventDefault();
        }
        $(".pass-validate")[0].classList.add("was-validated");
    }
    function validateConfirmPassword() {
        $("#txtConfirmPassword").attr("pattern", $("#txtPassword").val());
    }

</script>

